h1,h2,h3,h4,h5,h6{ font-family:'Arial'; }
button, input, select, textarea,p,a{
    font-family: "Microsoft YaHei";
 }
.img-responsive{
    width:100%;
    height:auto;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
@media (min-width: 768px){
    .navbar-togglesss {
         display:block;
    }
}
.lr{
    font-size: 14px;
    display: block;
    margin: 1px 5px 4px 10px;
    font-weight: normal;
    font-family: 'Arial';
}
.zx{
    margin-top: 15px;
    margin-right: 40px;
}
.zxlist,.zxlist1{
    width: 150px;
    height:45px;
    border: 1px solid #d6d6d6;
    border-radius: 27px;
    padding: 12px 12px 15px 61px;
    background: url(../img/zx.png) no-repeat 30px 9px;
    margin-top: 18px;
    margin-right: 40px;
    float: right;
    cursor: pointer;
}
.zxlist1{
    float: left;
    width: 145px !important;
    height: 45px;
    padding: 10px 12px 15px 49px;
    background: url(../img/zx1.png) no-repeat 28px 10px !important;
    margin-left: 0 !important;
    line-height: 25px !important;
}
.brand6 h1{
    color:#f84965;
    font-weight:bold;
}
@media (max-width: 768px){
    .navbarsss {
        height:50px !important;
        max-height:50px !important;
    }
    .navbar{
        min-height:50px;
    }
    .navbarsss .navbar-toggle{
        margin:3px 0px 0 0;
    }
    .navbarsss .navbar-brand{
        padding:5px 10px;
        margin-left:0px;
    }
    .navbarsss .navbar-brand img{
        width:auto;
        height:100%;
    }
    .swiper-container{
        width:100%;
        height:820px;
    }
    .navbar .container-fluid{
        padding-left:0px;
        padding-right:0px;
    }
}
/*导航条部分*/
.modal{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    background-image: url(../img/nav.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.m_rt h1{
    font-size:65px;
}
/*banner开始部分*/
.lunbo{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.lunbo .ban_dec{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.lunbo .col-md-5{
    height: 100% !important;
    position: absolute;
    top: 0%;
    padding-top: 5%;
    right: 10%;
}
.lunbo .col-mdss{
    left:0%;
    top:13%;
}
.col-mdss h2{
    margin:0;
    padding:0;
    font-size:42px;
    font-weight:bold;
}
.col-mdss h4{
    font-size:32px;
}
.swiper-container{
    width:100%;
    height:820px;
}
.swiper-wrapper{
    width:100%;
    height:100%;
}
.swiper-slide{
    width:100%;
    height:100%;
}
.banner{
    padding-left:0;
    padding-right:0;
}
.swiper-slide .ban{
    width:100%;
    height:100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.swiper-container_ban2{
    width:100%;
    height:auto;
    overflow:hidden;
}
.qh{
    position:relative !important;
    bottom:30px !important;
}
.ban1{
    background:-moz-linear-gradient(right,#f95771,#ff8f72);/*火狐*/
    background:-webkit-gradient(linear, 0% 0%, 100% 0%,from(#f95771), to(#ff8f72));/*谷歌*/
 }
.ban2{
    background-color:lightskyblue;
}
.ban3{
    background-color:plum;
}
/*<!--content区域开始-->*/
/*<!--品牌网站建设领导者-->*/
.brand1{
    text-align: center;
}
.brand2{
    margin:0;
    padding:0;
    margin-top: 60px;
    font-size: 28px;
    line-height: 42px;;
    font-weight:bold;
}
.brand1 p{
    font-size:16px;
    line-height:38px;
    margin:0;
    padding:0;
}
.view_dil{
    text-align: center;
}
.view_dil button{
    width: 160px;
    height: 45px;
    font-size: 16px;
    border-radius: 30px;
    background:#fff;
    border: 1px solid #aaa;
    margin: 60px auto;
    color: #333;
    font-family:'Arial';
    transition:all linear .3s;
    outline:none;
}
.view_dil button:hover{
    background:-moz-linear-gradient(right,#f53170,#f6f6f8) !important;/*火狐*/
    background:-webkit-gradient(linear, 0% 0%, 100% 0%,from(#f53170), to(#ff9472)) !important;/*谷歌*/
    color:#fff;
}
.container_num_btn .view_dil button{
      color:#fff;
      border:1px solid #fff;
    background: transparent;
    transition:all linear .3s;
  }
.container_num_btn .view_dil button:hover{
    background: #fff !important;
    border:1px solid transparent;
    color:#f53170;
}
.container_w{
    background: #f7f7f7;
}
.view_all .row{
    padding-top:10px;
    min-height:100px;
    text-align: center;
    padding-bottom:10px;
}
.view_all .col-md-3{
    min-height:350px;
    padding-top:20px;
    border:2px solid transparent;
}
.view_all .col-md-3:hover{
    padding-top:20px;
    border:2px solid red;
}
.view_all .col-md-3>h2{
    font-size:18px;
    font-family: 'Microsoft YaHei';
    color: #333;
}
.view_all .col-md-3 p{
    margin:0;
    padding:0;
}
.view_all .col-md-3 a{
    display:block;
    font-size:14px;
    line-height:32px;
    color:#929292
}
.view_all .col-md-3 a:hover{
    color:#ed6f4e;
}
@media (max-width: 768px) {
    .view_all .col-xs-3{
        padding-top:20px;
        border:2px solid transparent;
    }
    .view_all .col-xs-3 img{
        width:100%;
        height:100%;
    }
    .view_all .col-xs-3 p{
        display:none;
    }
    .view_all .col-xs-3 h2{
        font-size:14px;
        line-height:0;
    }
    .view_all .col-xs-3:hover{
        padding-top:20px;
        border:2px solid red;
    }
    .banner .swiper-container{
        width:100%;
        height:500px;
    }
    .banner .swiper-wrapper{
        width:auto;
        height:100%;
    }
    .banner .swiper-slide{
        width:auto;
        height:100%;
    }
    .banner .swiper-slide img{
        width:auto;
        height:100%
    }
    .swiper-container_ban1{
        display:none;
    }
    .swiper-container_ban2{
        display:block;
    }
    .fc_listparent{
        display:none;
    }
}
@media (min-width: 768px){
    .container_mar{
        margin:0 100px;
    }
    .swiper-container_ban1{
        display:block;
    }
    .swiper-container_ban2{
        display:none;
    }
}
.banner .swiper-slide img{
    width:100%;
    height:100%;
    margin-bottom:10%;
}
.container_num{
    background-image: url(../img/sz_bg.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    width:100%;
    height:100%;
}
.container_num .row{
    margin-top:40px;
}
.container_num .brand1{
    color:#fff;
}
.all_num h3{
    background-color: #fff;
}
.date span{
    color:#666;
}
.date a{
    color:#333;
}
@media (max-width: 768px) {
    .container_num  .container-fluid{
        display:none;
    }
    .container_num .swiper_parent{
        display:block;
    }
   .swiper_parent .brand1{
       margin:0 20px;
   }
    .view_dil1 button{
        margin:25px auto !important;
        width:140px;
        height:45px;
        font-size:14px;
    }
    .swiper-container2{
        text-align:center;
    }
    .date span{
        float:left;
        display:inline-block;
        margin-left:20px;
    }
    .date b{
        float:right;
        display:inline-block;
        margin-right:20px;
    }
    .swiper_parent .brand2{
        padding-top:50px !important;
    }
    .container_num1 .brand1 h2{
        color:#f84965;
    }
    .container_num1 .brand1 p:last-child{
        padding-bottom:20px;
    }
    .swiper_parent .brand1 p:last-child{
        padding-bottom:20px;
    }
    .fot_copy p:last-child{
        display:none !important;
    }
    .container_mar{
        width:90%;
    }
    .container_mar .col-xs-6{
        /*border:1px solid #d6d6d6;*/
    }
    .container_mar .jion_row:last-child{
        margin-top:0;
    }
}
.swiper_parent{
    display:none;
    width:100%;
    height:100%;
    position:relative;
    top:0;
    left:0;
    overflow:hidden;
}
.swiper-container2{
    width:100%;
    height:auto;
}
.swiper_parent .brand2{
    margin:0;
    padding-top:80px;
    margin-bottom:10px;
}
.swiper-pagination1{
    position:relative;
    bottom:-10% !important;
    left:0;
}
/*//WEB商学院ʼ*/
.container_num1{
    background:#fff;
}
.container_num1 .brand1{
    color:#000;
}
.container_num1 .col-md-3 .zz_parent{
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
}
.zz{
    margin:0;
    padding:0;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100% !important;
    background: transparent;
    transition:background linear .5s;

}
.container_num1 .col-md-3:hover .zz{
    background: rgba(255,0,0,.2);
}
.container_num1 .brand1 h1{
    color:#f84965;
}
.container_num1 .all_num{
    text-align:left;
}
.container_num1 .col-md-3 div{
    margin-top:20px;
    border-top:2px solid #eee;
    padding-top:15px;
}
.container_num1 .col-md-3 h4{
    height:30px;
    line-height:30px;
    overflow:hidden;
}
.container_num1 .col-md-3 p{
    height:50px;
    line-height:25px;
    overflow:hidden;
}
.container_join{
    width:100%;
    height:100%;
    background: #f7f7f7;
    padding-bottom: 50px;
}
.ban_dec div div{
    position: absolute;
    float: right;
    width: 100%;
    text-align: left;
    color: #fff;
    top: 18%;
    right: 0%;
}
.ban_dec div span{
    display:inline-block;
    width:100px;
    border:1px solid #fff;
}
/*���벿�ֿ�ʼ*/
.container_join .brand1 h1{
    color:#f84965;
}
.jion_row{
    margin-top:20px;
}
.container_join .row{
    text-align:center;
}
.jion_row>div{
    border: 1px solid transparent;
    background:transparent;
    transition:all linear .3s;
    position:relative;
    height:130px;
    padding:10px auto;
}
.jion_row>div img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.jion_row>div:hover{
    border:1px solid transparent;
    background: #fff;
}
/*footer���ֿ�ʼ*/
.container_fot{
    margin:0;
    padding:0;
    overflow: hidden;
    background:url(../img/foot_bg_18.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.container_fot .brand1{
    color:#fff;
}
.container_fot .brand1 p{
    width:70%;
    margin:0 auto;
}
.container_fot input{
    padding-left: 15px;
    margin-top: 28px;
    width: 300px;
    height: 50px;
    line-height: 40px;
    border-radius: 25px;
    border: 1px solid #fff;
    color: red;
    font-size: 15px;
    outline: none;
    padding-top: 8px;
    padding-bottom: 8px;
}
.container_fot button{
    margin-top: 30px;
    margin-left: 10px;
    width: 160px;
    height: 50px;
    border: 1px solid #fff;
    font-size: 16px;
    color: #fff;
    background: transparent;
    border-radius: 25px;
    outline: none;
    transition:all linear .3s;
}
.container_fot .brand1 button:hover{
    background: #fff;
    border:1px solid transparent;
    color:#f53170;
}
.fot_line{
    border-top:1px solid #f97998;
    margin-top:60px;
}
input[placeholder], [placeholder], *[placeholder] {
    color:#ec5322 !important;
}
/*手写css3动画模块*/
.date b{
    float:right;
}
.date b a{
    color:#333;
    font-family:Arial;
    /*font-weight:normal;*/
}
.brand1:before{
    display:table;
    content:'';
}
.all_num h3{;
    font-size:18px;
    height:60px;
    line-height:36px;
    padding:15px 0;
    margin:0 1px 10px 0;
}
.all_num div h3{
    transition:background linear 2s;
    background: #fff !important;
    font-family: Microsoft YaHei;
}
.all_num div:hover h3{
    color:#fff;
    background:-moz-linear-gradient(right,#f53170,#ff9472) !important;/*火狐*/
    background:-webkit-gradient(linear, 0% 0%, 100% 0%,from(#f53170), to(#ff9472)) !important;/*谷歌*/
}

/*模态框部分*/
.modal>p{
    cursor: pointer;
    position: relative;
    top: 2%;
    right: 2%;
    text-align: right;
    font-size: 18px;
    color: #fff;
    font-weight: normal;
}
.m_center{
    position: relative;
    top: 6%;
    margin: 0 auto;
    width: 80%;
    height: 80%;
}
.m_lf{
    float:left;
    width:50%;
    clear: both;
}
.m_lf>div{
    position:relative;
}
.m_lf ul,.m_rt ul{
    position:absolute;
    top:10%;
    right:0%;
    float:right;
    list-style:none;
}
.m_rt p{
    font-size:15px;
    line-height:23px;
}
.m_rt p a{
    font-size:15px;
}
.m_lf ul{
    right:36%;
    min-width:285px;
}
.m_lf ul li{
    padding-top: 9%;
    font-weight: normal;
}
.m_lf ul a,.m_rt ul a{
    text-decoration: none;
    color:#fec1c1;
    font-size:18px;
}
.m_lf ul a{
    font-size:26px;
}
.m_rt{
    float:right;
    width:43%;
    clear: both;
    color:#fff;
}
.m_rt>div{
    position:relative;
}
.m_rt ul li{
    margin-top:7%;
}
.icon1{
    display:block;
    width:5%;
    border-top:1px solid #fff;
    margin-top:5px;
}
.icon2{
    display:block;
    width:10%;
    border-top:1px solid #fff;
}
.m_li_two p{
    margin-top:5%;
    line-height:28px;
    margin-bottom: 28px;
}
.m_li_three p{
    margin-bottom:5px;
}
.m_li_three p:first-child{
    margin-top:10px;
}
.m_rt p a{
    font-size:16px;
    margin-right:25px;
    margin-top:10px;
}
.m_rt h3{
    font-size:28px;
}
.fot_content{
    width:90%;
    margin:0 auto;
    min-height:10%;
}
.fc_list{
    float:left;
    width:10.5%;
}
.fc_list:first-child{
   width:19.5%;
    padding-right:3%;
}
.fc_list:nth-child(2){
    width:13.5%;
}
.fc_list h2{
    color:#f9f9f9;
    font-family: "Microsoft YaHei";
    margin-top:40px;
    font-size:16px;
    line-height:38px;
    margin-bottom:0;
}
.fc_list p{
    margin:0;
    padding:0;
    font-size:14px;
    line-height:32px;
}
.fc_list p:nth-child(2){
    margin: 0;
    padding: 0;
    line-height: 2px;
    margin-bottom: 12px;
}
.fc_list1 p:nth-child(3){
    padding-left:40px;
    background: url(../img/ft_phone.png) no-repeat 0 0;
}
.fc_list1 p:nth-child(4){
    padding-left:40px;
    background: url(../img/fot_tel.png) no-repeat 0 0;
}
.fc_list1 p:nth-child(5){
    padding-left:40px;
    background: url(../img/fot_msg.png) no-repeat 0 0;
}
.fc_list1 p:nth-child(6){
    padding-left:40px;
    background: url(../img/fot_location.png) no-repeat 0 0;
}
.all_num  a{
    color:#666;
    font-family:'Microsoft YaHei';
}
.all_num h4  a{
    color:#333;
    font-weight:bold;
}
.all_num  a:hover{
    color:#ec5322;
}
.jion_row .col-md-4{
    border:1px solid #d6d6d6;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: red;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: red;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: red;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: red;
}
.fc_listparent{
    overflow:hidden;
}
.fot_copy{
    width:90%;
    margin:0 auto;
}
.fot_copy p{
    margin:0;
    padding:0;
    font-size:14px;
    line-height:38px;
    color:#fff;
}
.fot_copy p:last-child{
    float:right;
    display:inline-block;
}
/*.fot_copy p:last-child img{*/
    /*width:38px;*/
    /*height:38px;*/
/*}*/
.change_bg{
    display:block;
    background-position:  center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    width:140px;
    height:90px;
    margin:0 auto;
}
.change_bg1{
    background-image: url(../img/all_wz.png);
}
.view_all .col-md-3:hover .change_bg1{
    background-image: url(../img/all_wz02.png);
}
.change_bg2{
    background-image: url(../img/all_app.png);
}
.view_all .col-md-3:hover .change_bg2{
    background-image: url(../img/all_app02.png);
}
.change_bg3{
    background-image: url(../img/all_wl.png);
}
.view_all .col-md-3:hover .change_bg3{
    background-image: url(../img/all_wl02.png);
}
.change_bg4{
    background-image: url(../img/all_fw.png);
}
.view_all .col-md-3:hover .change_bg4{
    background-image: url(../img/all_fw02.png);
}
.m_rt li:first-child p{
    color:#fec1c1;
}
@media (max-width: 768px){
    .change_bg{
        display:block;
        background-position:  center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        text-align: center;
        width:56px;
        height:45px;
        margin:0 auto;
    }
    .view_all .col-md-3{
        min-height:150px;
    }
    .m_lf ul a{
        font-size:20px;
    }
    .m_rt h1{
        font-size:30px;
    }
    .m_rt h1 i{
        font-style:normal;
    }
    .m_rt p{
        font-size:14px;
    }
    .m_rt p a{
        font-size:14px;
    }
    .m_rt h3{
        font-size:20px;
    }
    .brand2{
        margin-top:15px;
        font-size:20px;
    }
    .container_num1 .brand1 p{
        color:#666;
    }
    .container_num1 .swiper-container2 p{
        color:#666;
        padding-bottom:13%;
    }
    .brand1 p{
        font-size:14px;
        line-height:28px;
    }
    .view_dil button{
        margin:20px auto;
    }
    .swiper_parent h3{
        font-size:20px;
    }
    .fot_copy p{
        text-align: center;
        line-height: 25px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .container_fot button{
        width:120px;
        height:40px;
        margin-top:25px;
        margin-left:0;
    }
    .fot_line{
        width: 95%;
        margin: 0 auto;
        margin-top: 40px !important;
    }
    .container_fot input{
        width:90%;
        height:40px;
        text-align:center;
    }
    .m_lf ul{
        right:40%;
        min-width:100px;
    }
    .m_center{
        width:90%;
        top:6%
    }
    .b_center{

        margin: 20% auto 10%;
        text-align: right;
        color: #fff;
    }
    .jion_row>div{
        height:90px;
    }
    .container_num .img-responsive{
        width:90%;
        margin:0 auto;
    }
    .modal>p{
        cursor: pointer;
        position: fixed;
        top: 3%;
        right: 5%;
        text-align: right;
        font-size: 18px;
        color: #fff;
    }
    .jion_row{
        border-top:1px solid #d6d6d6;
        border-left:1px solid #d6d6d6;
    }
    .jion_row:last-child{
        border-top:0;
    }
    .jion_row>div{
        padding:30px auto !important;
        border-right:1px solid #d6d6d6;
        border-bottom:1px solid #d6d6d6;
    }
    /*.jion_row>div img{*/
        /*margin:10px auto;*/
    /*}*/
}
.close{
    opacity:1 !important;
    font-weight:normal;
}
.close:hover{
    color:#fff;
    opacity:.8;
}
.swiper-pagination-bullet{
    background: #fff !important;
    opacity:.6 !important;
    margin-left:9px !important;
    border:1px solid #aaa;
    width:10px;
    height:10px;
}
.banner .swiper-pagination-bullet,
.container_num_btn  .swiper-pagination-bullet{
    background: transparent !important;
    border:1px solid #fff !important;
    width:10px;
    height:10px;
}
.swiper_parent .swiper-pagination-bullet{
    width: 15px;
    height:15px;
}
.swiper-pagination-bullet i{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #333333 !important;
    border-radius: 50%;
    margin-bottom: -3px;
}
.banner .swiper-pagination-bullet{
    text-align:center;
    width:30px !important;
    height:30px !important;
    border:1px solid transparent !important;
    background: transparent !important;
}
.banner .swiper-pagination-bullet-active{
    border:2px solid #ee5829 !important;
}
.swiper-pagination-bullet-active i{
    background-color:#ec5322 !important;
}
.container_num_btn .swiper-pagination-bullet-active{
    background: #fff !important;
    border:1px solid #fff !important;
    opacity: 1 !important;
}
.swiper-pagination-bullet-active{
    background:-moz-linear-gradient(right,#f65386,#f53170) !important;/*火狐*/
    background:-webkit-gradient(linear, 0% 0%, 100% 0%,from(#f65386), to(#f53170)) !important;/*谷歌*/
    border:1px solid transparent;
}
.white_line{
    color:#fff !important;
}
.white_line span{
    display: inline-block;
    width: 60px;
    margin-right: 13px;
    border: 1px solid #fff;
    line-height: 36px;
    margin-bottom: 8px;
}
@media (max-width:768px) {
    .banner .swiper-pagination-bullet{
        text-align:center;
        width:20px !important;
        height:20px !important;
        border:1px solid transparent !important;
        background: transparent !important;
    }
    .banner .swiper-pagination-bullet-active{
        border:2px solid #ee5829 !important;
    }
    .swiper-pagination-bullet i{
        margin-bottom:2px;
    }
    .m_lf{
        width:100%;
        float: inherit;
    }
    .m_rt{
        width:94%;
        float: inherit;
        margin-top:15%;
    }
    .m_lf ul, .m_rt ul{
        position:relative;
        float: inherit;
        top:0;
        left:0;
    }
    .m_center{
        width:100%;
    }
    .m_lf ul li{
        padding-top:6%;
    }
    .white_line span{
        width:35px;
    }
    .swiper-container2 p,.swiper-container2 h4{
        margin:0;
        margin-left:5%;
        margin-right:5%;
        padding:0 12px;
        border-left:1px solid #d6d6d6;
        border-right:1px solid #d6d6d6;
        text-align:left;
        line-height: 26px;
        max-height: 56px;
        overflow:hidden;
    }
    .date{
        margin-left:5%;
        margin-right:5%;
        padding-top:12px;
        padding-bottom:20px;
        overflow:hidden;
        border-left:1px solid #d6d6d6;
        border-right:1px solid #d6d6d6;
        border-bottom:1px solid #d6d6d6;
    }
    .line_3{
        width:90%;
        /*padding:20px 0 20px;*/
        margin:0 auto;
        border-top:10px solid transparent;
        border-left:1px solid #d6d6d6;
        border-right:1px solid #d6d6d6;
    }
    .line_2{
        width:85%;
        /*padding:20px 0 20px;*/
        margin:0 auto;
        border-top:1px solid #d6d6d6;
    }
    .swiper-container2 h4{
        font-weight:bold;
        line-height:60px;
    }
    .b_center{
        width:80%;
    }
    .b_center h1{
        font-size:25px;
    }
    .b_center p{
        font-size:18px;
    }
    .all_num h3{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .container_num1 .swiper-pagination1{
        margin-top:30px;
    }
    .swiper_parent .brand2{
        margin-bottom:0;
    }
    .jj{
        margin-right:1px;
    }
}
/*.fc_listparent .zxlist1:hover{*/
    /*background:-moz-linear-gradient(right,#ff9472,#f53170) !important;/!*火狐*!/*/
    /*background:-webkit-gradient(linear, 0% 0%, 100% 0%,from(#ff9472), to(#f53170)) !important;/!*谷歌*!/*/
    /*background: url(../img/zx1.png) no-repeat 28px 10px !important;*/
/*}*/
.fot_content a{
    color: #ffc0cd;
}